<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="hi">
  <ion-list id="hi">
    <ion-item>
      <ion-label>Weight (in kg)</ion-label> 
      
      <ion-input type="number" [(ngModel)]="weight" id="number"></ion-input>
      
     
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option *ngFor="let value of genders" >{{value}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Time: {{time}} hours since start</ion-label>
      <ion-range min="0" max="24" step ="0.5" [(ngModel)]="time" (ionChange)="calculate()">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">24</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>{{bottles}} Bottles of 0.33 l</ion-label>
      <ion-range min="0" max="20" [(ngModel)]="bottles" (ionChange)="calculate()">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">20</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Promille: </ion-label>
      <ion-input value="{{promille | number: '1.0-3' }}" readonly></ion-input>
    </ion-item>

    <div padding>
      <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
    </div>

  </ion-list>
</ion-content>
