ion-input{
color: maroon;
font-style: oblique;
font-weight: bolder;
text-align: center;
border-radius: 15px;
border: 2px solid rgb(143, 143, 143);
left: 10px;   
max-width: 70px;
}

ion-select{
    color: maroon;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
    border: 2px solid rgb(143, 143, 143);
    max-width: 130px;
    left: 10px;
}


ion-range{
    max-width: 350px;
    right: 20px;
}
